* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.logo img {
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 40px;
  
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #212529;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  color: #212529;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .hamburger.active ~ .menu {
    display: block;
  }
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.texto {
  text-align: center;
  margin-top: 50px;
}

.texto h1 {
  color: cornflowerblue;
  margin-bottom: 20px;
}

.texto p {
  font-size: 18px;
  margin-bottom: 20px;
}

.texto button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
}

.Tela {
  text-align: center;
  margin-top: 50px;
}

.Tela img {
  max-width: 100%;
  height: auto;
}

.blog {
  text-align: center;
  margin-top: 50px;
}

.blog h2 {
  color: cornflowerblue;
}

.blog .row {
  justify-content: center;
}

.blog .col {
  margin: 10px;
}

.blog .col img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog h3 {
  margin-top: 10px;
}

.blog p {
  margin-top: 10px;
}

.blog button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.Foto {
  text-align: center;
  margin-top: 50px;
}

.Foto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.Foto p {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.Foto button {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.bloco-text-contacts {
  text-align: center;
  margin-top: 20px;
}

.bloco-text-contacts a {
  color: #007bff;
  text-decoration: none;
}

.container-icons-contacts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bloco-icons-contacts {
  margin-right: 10px;
}

.fa-mobile-alt,
.fa-envelope {
  color: #007bff;
  font-size: 24px;
}

.site-footer {
  background-color: rgb(125, 15, 15);
  padding: 20px 0;
  color: white;
}

#footer-sidebar1 {
  padding: 0 20px;
}

.margin0 {
  margin: 0;
}

.margin {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.preto {
  color: #000;
}

.preto:hover {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 10px;
  }
}
