*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: white;
  min-height: 100vh;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
}
nav{
  display: flex;
  align-items: center;
}
.logo{
  margin-top: 15px;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li{
  padding: 0 15px;
}
nav ul li a{
  font-size: 16px;
  color: black;
}
.container-header-esquerda {
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 30px;
  padding: 20px;
}

.container-header-esquerda a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.container-header-esquerda a:last-child {
  margin-right: 0;
}


.carousel-inner {
  position: relative;
  margin-top: 30px;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
.texto h1{
  color: cornflowerblue;
  margin-top: 20px;
}
.texto p{
  margin-left: 500px;
  margin-top: -58px;
}
.texto button{
  margin-left: 500px;
  margin-top: -58px;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 18px;
  margin-top: 20px;

}
.Tela {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tela img {
  width: 1500px;
 height: 500px;
 margin-top: 50px;
}
.blog h2{
  text-align: center;
  margin-top: 30px;
  color: cornflowerblue;
}

.container.text-center {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  text-align: center;
  margin: 10px;
}

.col img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

h3 {
  margin-top: 10px;
}
a{
  color: black;
}

p {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.Foto {
  text-align: center;
  margin-top: 20px;
}

.Foto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.Foto p {
  margin-top: -80px;
  font-size: 20px;
  color: white;
  

}

.Foto button {
  margin-top: -90px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bloco-text-contacts {
  margin-top: 10px;
  text-align: center;
}

.bloco-text-contacts a {
  color: #007bff;
  text-decoration: none;
}

.container-icons-contacts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bloco-icons-contacts {
  margin-right: 10px;
}

.fa-mobile-alt,
.fa-envelope {
  color: #007bff;
  font-size: 24px;
}

.panel-grid-cell {
  padding: 0;
}

#pg-7-8 iframe {
  width: 100%;
  height: 400px;
  border: 0;
  display: flex;
}

.site-footer {
  background-color: rgb(125, 15, 15);
  padding: 20px 0;
}

#footer-sidebar1 {
  padding: 0 20px;
}

.panel-grid-cell > .widget-footer {
  margin-bottom: 20px;
}

.widget_footer .panel-layout {
  margin: 0;
}

.branco {
  color: #fff;
}

.margin0 {
  margin: 0;
}

.margin {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.preto {
  color: #000;
}

.preto:hover {
  text-decoration: none;
  color: #000;
}